
.matches_list_header {
 	width: 1080px;
 	max-width: 1080px;
}
.matches_list_sign {
	text-transform: uppercase;
	font-size: 22px;
	text-align: left;
}
.matches_list_table_container {
    margin: 0;
    padding: 0;
    border-radius: 8px;
    border-top: 3px solid #61892F;
}
.matches_list_table{
    margin-bottom: 50px;
    width: 1080px;
    max-width: 1080px;
    min-width: 1080px;
}
table.matches_list_table .col-1 {
 	width: 1%;
}
table.matches_list_table .col-2 {
 	width: 39%;
}
table.matches_list_table .col-3 {
 	width: 8%;
}
table.matches_list_table .col-4 {
 	width: 1%;
}
table.matches_list_table .col-5 {
 	width: 1%;
}
table.matches_list_table .col-6 {
 	width: 1%;
}
table.matches_list_table .col-7 {
 	width: 8%;
}
table.matches_list_table .col-8 {
 	width: 40%;
}
table.matches_list_table .col-9 {
 	width: 1%;
}
.matches_list_table thead th {
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
}
.matches_list_table_thead{
	color: #fff;
}
.matches_list_table tbody tr td {
	padding: 10px;
	text-align: center;
    font-size: 15px;
    height: 50px;
    max-height: 50px;
	vertical-align: middle;
}
.matches_list_table_youtube img {
	height: 20px;
	width: auto;
}
.matches_list_table_score {
	font-size: 20px;
}
.odd_youtube {
    background-color: #4B5055;
}
.even_youtube {
    background-color: #43464A;
}
