/*******  LIST  *********/

.rating_table {
	width: 700px;
	max-width: 700px;
	min-width: 700px;
	margin: 0 auto;
}
table.rating_table .col-1 {
 	width: 1%;
}
table.rating_table .col-2 {
 	width: 25%;
}
table.rating_table .col-3 {
 	width: 25%;
}
.rating_table thead th {
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #343A3F;
}
.rating_table tr>:last-child,
.rating_table tbody tr>:nth-child(1) {
	border-right: none;
}
.rating_table tbody tr td {
	padding: 10px;
	text-align: center;
	border-right: 1px solid #71787F;
	font-size: 15px;
	height: 50px;
	max-height: 50px;
}
.rating_table_name {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.circle_img {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}
.rating_table_number {
    font-weight: bold;
    text-align: center;
}
