/*******  LIST  *********/

.results_table {
	width: 1080px;
	max-width: 1080px;
	min-width: 1080px;
	margin: 0 auto;
}
table.results_table .col-1 {
 	width: 1%;
}
table.results_table .col-2 {
 	width: 20%;
}
table.results_table .col-3 {
 	width: 10%;
}
table.results_table .col-4 {
 	width: 10%;
}
table.results_table .col-5 {
 	width: 5%;
}
.results_table thead th {
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	text-align: center;
	vertical-align: middle;
	border-right: 1px solid #343A3F;
}
.results_table tr>:nth-child(5),
.results_table tbody tr>:nth-child(1) {
	border-right: none;
}
.results_table tbody tr td {
	padding: 10px;
	text-align: center;
	border-right: 1px solid #71787F;
	font-size: 15px;
	height: 50px;
	max-height: 50px;
}
.results_table_name {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 10px;
}
.circle_img {
	border-radius: 100px;
	width: 30px;
	height: 30px;
	object-fit: cover;
	margin-right: 10px;
}
.results_table_points {
	font-weight: bold;
	text-align: center;
}

