.black_text{
	color: black;
}
input, select, button{
	color: black;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222629;
	color: white;
	text-align: center;
	margin 50px auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: #fff;
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.container {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.sub-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
.logologin {
	background-color: #232b2b;
	width: 100%;
	top: 0;
}
.logologin img {
	width: 55px;
	height: 36px;
	display: block;
	background-color: #4caf50;
	float: left;
	padding: 10px;
	padding-top: 10px;
}

.login {
	padding: 10px 0px;
	margin-top: 2px;
	float: right;
}
.login input[type="text"],
.login input[type="password"] {
	background-color: #3b444b;
	border: 0px;
	margin: 2px 2px;
	padding: 4px 0px 4px 6px;
	outline: none;
}
.login input[type="submit"] {
	border: 0px;	
	margin-right: 35px;
	padding: 4px 10px;
	background-color: #4caf50;
	color: white;
	outline: none;
}
.login input[type="submit"]:hover {
	background-color: #2d6b30;
}

.radius_br {
	border-bottom-right-radius: 4px;
}
.radius_bl {
	border-bottom-left-radius: 4px;
}
