.black_text{
	color: black;
}
input, select, button{
	color: black;
}
body {
	font-family: 'Exo 2', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222629;
	color: white;
	text-align: center;
	margin 50px auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
	margin: 0px;
	padding: 0px;
    text-decoration: none;
    color: #fff;
}
table col[class*="col-"] {
	position: static;
	float: none;
	display: table-column;
}


.pointer {
	cursor: pointer;
}
.float_left {
	float: left;
}
.float_right {
	float: right;
}
.tbody_odd {
	background-color: #54595E;
}
.tbody_even {
	background-color: #474B4F;
}
.odd_num {
	background-color: #567A2B;
}
.even_num {
	background-color: #61892F;
}
.container {
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
.sub-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
.radius_br {
	border-bottom-right-radius: 8px;
}
.radius_bl {
	border-bottom-left-radius: 8px;
}
.radius_tr {
	border-top-right-radius: 8px;
}
.radius_tl {
	border-top-left-radius: 8px;
}
.bold {
	font-weight: bold;
}
